@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
}

.background {
    background-image: url('img/macos-wallpaper-mojave.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.content {
    text-align: center;
    padding: 20px;
    color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px 120px 40px 17px;
    background-color: rgba(2, 26, 31, 0.4);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.67);
}

@media (max-width: 1000px) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.container-circle {
    position: relative;
    width: 10px;
    height: 50px;
}

.circle {
    position: absolute;
    top: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  .circle:nth-child(1) {
    background-color: rgb(255, 86, 82);
  }
  
  .circle:nth-child(2) {
    left: 25px;
    background-color: rgb(255, 189, 48);
  }
  
  .circle:nth-child(3) {
    left: 50px;
    background-color:rgb(0, 200, 58);
  }

/* Additional styles for content inside the container */
.container h1 {
    text-align: left;
    color: #FFF;
}

.container p {
    padding: 0px 0px 0px 30px;
    text-align: left;
    line-height: 1.6; 
    color: #fff;
}

.container table {
    width: 100%;
    text-align: left;
    line-height: 1.6; 
    color: #fff;
}

.container-prompt-user {
    background: black;
    color: #fff;
    padding: 3px 10px 3px 10px;
}
.container-prompt-folder {
    background: rgb(0, 0, 209);
    color: #FFF;
    padding: 3px 10px 3px 10px;
}

.breadcrumb {
    display: flex;
    font-weight: bold;
    margin-bottom: 4px;
}
.breadcrumb-user {
    display:flex;
    align-items: center;
    height: 24px;
    padding: 0px 10px;
    background: black;
}
.breadcrumb-user-single {
    display:flex;
    align-items: center;
    height: 24px;
    padding: 0px 10px 0px 0px;
    background: black;
}
.user-text {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 0px 0px 10px;
    justify-content: center;
    align-items: center;
}
.breadcrumb-folder {
    display:flex;
    align-items: center;
    height: 24px;
    padding: 0px 10px 0px 0px;
    background: rgb(0, 0, 209);
}
.folder-arrow-black{
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid black;
}
.folder-arrow-blue{
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(0, 0, 209);
}

.command-text {
    margin-left: 4px;
}

.shape-div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: rgb(77, 175, 231);
}
  
/* visited link */
a:visited {
    color: rgb(176, 182, 182);
}

/* visited link */
a:hover {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.box {
    padding-top: 6px;
    margin-left: 4px;
}

.box b::after {
    content: "";
    width: 10px;
    height: 6px;
    background: #ffffff;
    display: inline-block;
  }
  
.box b {
    align-items: center;
    gap: 2px;
}

.box b::after {
    /*code commented for brevity*/
    animation: blink 0.9s infinite;
}

@keyframes blink {
    0% {background: transparent}
    50% {background: #fff}
    100% {background: transparent}
  }

  
